.cta Looks like you need some code. If we are right — call us and we will come.
.links
  a(target="_blank" href="https://github.com/JincorTech") Github
  a(target="_blank" href="https://www.facebook.com/degtyaruk") Facebook
  a(target="_blank" href="https://t.me/hlogeon") Telegram
  //- a(taget="_blank" href="") Email
