.cta Looks like you need some code. If we are right — contact us and we will come.
.links
  a(target="_blank" href="https://github.com/JincorTech") Github
  a(target="_blank" href="https://t.me/hlogeon") Telegram
  a(taget="_blank" href="mailto:info.secret.tech@gmail.com") info.secret.tech@gmail.com
