doctype html
html
  head
    block head
      title secret_tech
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description' content="secret_tech - the crew which is developing cool software")
      meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
      
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:500,700")
      link(rel="stylesheet" href="./css/styles.css")

  body
    block body
      
    script.
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48056324 = new Ya.Metrika({ id:48056324, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
