doctype html
html
  head
    block head
      title secret_tech
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='description' content="secret_tech - the crew which is developing cool software")
      meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
      
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:500,700")
      link(rel="stylesheet" href="./css/styles.css")

  body
    block body
