extends includes/tpl.pug
append head
  title secret_tech
block body
  .container
    a.logo(href="./index.html")
      | &#62;goback&#95;
    h1.title
      | These are the cool stuff
      | we talked about.
    .projects
      .project
        .project-title ICO
        .project-description Jincor ICO smart-contracts.
        a.project-url(target="_blank" href="https://github.com/JincorTech/ico") View on Github
      .project
        .project-title Auth
        .project-description Jincor identity service.
        a.project-url(target="_blank" href="https://github.com/JincorTech/backend-auth") View on Github
      .project
        .project-title Verify
        .project-description Jincor verification service.
        a.project-url(target="_blank" href="https://github.com/JincorTech/backend-verify") View on Github
      .project
        .project-title Octo pancake
        .project-description Backend module of Jincor ICO dashboard
        a.project-url(target="_blank" href="https://github.com/JincorTech/backend-ico-dashboard") View on Github
      .project
        .project-title Supreme Happiness
        .project-description Frontend module for Jincor ICO dashboard.
        a.project-url(target="_blank" href="https://github.com/JincorTech/frontend-supreme-happiness") View on Github
      .project
        .project-title Reimagined Couscous
        .project-description Frontend react-based boilerplate to create amazing frontend applications.
        a.project-url(target="_blank" href="https://github.com/JincorTech/frontend-static-boilerplate") View on Github
    .footer
      include includes/footer.pug
