@import "./vendor/normalize.css";

* {
  font-family: Roboto;
  color: #111;
}

a {
  color: #005BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body {
  height: 100%;
}

.container {
  padding: 60px 60px 0 60px;
  box-sizing: border-box;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media only screen and (max-width: 1600px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .container {
    padding: 20px 20px 0;
  }
}

.logo {
  font-family: Roboto Mono;
  font-size: 18px;
  margin-bottom: 40px;
  display: block;
}

.logo:hover {
  text-decoration: none;
}

.title {
  font-family: Roboto;
  font-size: 92px;
  color: #111;
  letter-spacing: -0.2px;
  line-height: 92px;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .title br {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .title {
    font-size: 36px;
    line-height: 1.2;
  }
}

.projects {
  margin: 170px 0 30px;
}

@media only screen and (max-width: 720px) {
  .projects {
    margin: 30px 0;
  }
}

.project {
  margin: 70px 0;
}

@media only screen and (max-width: 720px) {
  .project {
    margin: 30px 0;
  }
}

.project-title {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 10px;
}

@media only screen and (max-width: 720px) {
  .project-title {
    font-size: 24px;
  }
}

.project-description {
  font-family: Roboto Mono;
  font-size: 24px;
  line-height: 1.2;
  max-width: 640px;
}

@media only screen and (max-width: 720px) {
  .project-description {
    font-size: 18px;
  }
}

.project-links {
  margin: 20px -10px 0;
}

.project-url {
  display: inline-block;
  font-family: Roboto Mono;
  font-size: 18px;
  margin: 0 10px;
}

@media only screen and (max-width: 720px) {
  .project-url {
    font-size: 16px;
  }
}

.project-url.disabled {
  cursor: not-allowed;
  color: #929292;
}

.project-url.disabled:hover {
  text-decoration: none;
}

.footer {
  padding: 60px 0;
}

@media only screen and (max-width: 720px) {
  .footer {
    width: 100%;
  }
}

.cta {
  font-family: Roboto Mono;
  font-size: 24px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 720px) {
  .cta {
    font-size: 18px;
  }
}

.links {
  margin: 0 -10px;
}

.links > a {
  font-family: Roboto Mono;
  font-size: 24px;
  margin: 0 10px;
}

@media only screen and (max-width: 720px) {
  .links > a {
    font-size: 18px;
    display: block;
    margin: 10px;
  }
}
